body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  font-family: cursive;
}

.container {
  background-color: rgba(39, 241, 147, 0.411);
  padding: 15px;
  height: 350px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  border-radius: 2px;
}

.input-container {
  position: relative;
  color: rgb(17, 190, 248);
}

.height {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container p {
  margin: 5px;
}

.input-container .weight {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 13px;
}

.output-container p {
  color: rgb(156, 142, 142);
}

input {
  width: 500px;
  height: 30px;
  margin-right: 100px;
  background-color: rgba(179, 251, 245, 0.829);
  border: none;
  margin: 7px;
  transform: translateX(2%);
  cursor: pointer;
}

.btn {
  margin-left: 17px;
  cursor: pointer;
  width: 500px;
  padding: 10px;
  background-color: rgb(71, 240, 71);
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(77, 73, 73);
  font-weight: bold;
  transition: 0.5s;
}

.btn:hover {
  background-color: rgb(59, 255, 59);
}

.output-container input {
  cursor: not-allowed;
}

#bmi-meter {
  color: black;
  font-weight: bold;
}