body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: cursive;
}

.container {
  background-color: rgb(100, 199, 212);
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 25px;
  letter-spacing: 1px;
}

p {
  margin-bottom: 2px;
  font-size: 12px;
  letter-spacing: 1px;
}

input {
  margin-top: 0px;
  height: 25px;
}

.btn {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: slateblue;
  border: none;
  color: white;
  font-family: cursive;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}