body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  position: relative;
  width: 300px;
}

.counter {
  font-size: 50px;
  margin-bottom: -10px;
  font-weight: bold;
}

.hr {
  width: 100%;
  margin: 0px;
}

.loading-bar-back {
  position: absolute;
  background-color: lightgrey;
  height: 8px;
  width: 100%;
  border-radius: 5px;
  border: none;
}

.loading-bar-front {
  position: absolute;
  height: 8px;
  width: 0%;
  background-color: orangered;
  border-radius: 5px;
  border: none;
}